# Load Data

In [1]:
import fourierAnalysisHelper as fourierHelper

In [2]:

# turn all US ratings into a simple timeseries with mean ratings per month for every year. Optionally give a lower year cutoff
df_ratings = pd.read_csv(r"data\BeerAdvocate\beerAdvocateRatings.csv")
monthly_means_simple = fourierHelper.calculate_monthly_means(df_ratings, year_highpass=2002)
monthly_means_simple_timeseries = fourierHelper.convert_to_timeseries(monthly_means_simple)

NameError: name 'pd' is not defined

# Fourier Analysis

In [ ]:
fourierHelper.plot_frequency_spectrum(monthly_means_simple_timeseries['mean_rating'].values, cutoff_freq=0.25)

    year  month  mean_rating  month_number
0   2002      1     3.790671             1
1   2002      2     3.705896             2
2   2002      3     3.741297             3
3   2002      4     3.682255             4
4   2002      5     3.655205             5
5   2002      6     3.631245             6
6   2002      7     3.705938             7
7   2002      8     3.670549             8
8   2002      9     3.749908             9
9   2002     10     3.711035            10
10  2002     11     3.749477            11
11  2002     12     3.741844            12
12  2003      1     3.738558            13
13  2003      2     3.757478            14
14  2003      3     3.697483            15
15  2003      4     3.720617            16
16  2003      5     3.722164            17
17  2003      6     3.663173            18
18  2003      7     3.650433            19
19  2003      8     3.592534            20
20  2003      9     3.642043            21
21  2003     10     3.692641            22
22  2003     11     3.715442            23
23  2003     12     3.725973            24
24  2004      1     3.738931            25
25  2004      2     3.722411            26
26  2004      3     3.736326            27
27  2004      4     3.756693            28
28  2004      5     3.738329            29
29  2004      6     3.727829            30
30  2004      7     3.730545            31
31  2004      8     3.720538            32
32  2004      9     3.728173            33
33  2004     10     3.704617            34
34  2004     11     3.735967            35
35  2004     12     3.768820            36
36  2005      1     3.775104            37
37  2005      2     3.737197            38
38  2005      3     3.753994            39
39  2005      4     3.740534            40

## FFT on derivative of data 
- rate of change analyis